<div class="header-title">
  <%= link_to "Mylife", root_path, data: {"turbolinks" => false} %>
  <%= link_to "ログアウト", logout_path, method: :delete, data: {"turbolinks" => false}, class: "nav-logout" %>
</div>
